<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuyi.wcrawler.mapper.ProxyMapper">
	<insert id="insertAll" parameterType="java.util.List">
        insert into proxy (ip, port, successTimes, failureTimes, lastSuccessTimestamp, lastSuccessTimeConsume, avgSuccessTimeConsume, storeStatus)
        values
        <foreach collection ="list" item="item" index= "index" separator =",">
        (#{item.ip}, #{item.port}, #{item.successTimes}, #{item.failureTimes},
        #{item.lastSuccessTimestamp}, #{item.lastSuccessTimeConsume}, #{item.avgSuccessTimeConsume}, #{item.storeStatus})
        </foreach>
    </insert>
	
 	<select id = "selectByRand" resultType = "com.wuyi.wcrawler.entity.Proxy">
        SELECT *
        FROM proxy t1
            JOIN (SELECT ROUND(RAND() * ((
                SELECT MAX(id)
                FROM proxy
                ) - (
                SELECT MIN(id)
                FROM proxy
                )) + (
                SELECT MIN(id)
                FROM proxy
                )) AS id
                ) t2
        WHERE t1.id >= t2.id
        ORDER BY t1.id
        LIMIT #{limit};
    </select>

    <select id = "selectBySequence" resultType = "com.wuyi.wcrawler.entity.Proxy">
        SELECT *
        FROM proxy
        LIMIT #{limit};
    </select>

    <select id = "selectBySuccessProbabilityPriority" resultType = "com.wuyi.wcrawler.entity.Proxy">
        SELECT *
        FROM proxy
        ORDER BY success_probability DESC
        LIMIT #{limit};
    </select>

    <select id = "selectBySuccessTimesPriority" resultType = "com.wuyi.wcrawler.entity.Proxy">
        SELECT *
        FROM proxy
        ORDER BY success_times DESC
        LIMIT #{limit};
    </select>

    <select id = "selectBySuccessTimeConsumeLeastPriority" resultType = "com.wuyi.wcrawler.entity.Proxy">
        SELECT *
        FROM proxy WHERE avg_success_time_consume != 0
        ORDER BY avg_success_time_consume
        LIMIT #{limit};
    </select>

    <select id="count" resultType="java.lang.Integer">
      SELECT COUNT(*) FROM proxy;
    </select>

</mapper>